h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: normal;
    width: 70%;
    line-height: 1.191;
}


.hero p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(163, 208, 252);
    width: 85%;
    padding: 14px 0;
    /*line-height: 1.659;*/
}

.hero{
    background-color: #0e88f3;
    padding-top: 62px;
}

.hero__cols {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__textcol {
    padding-left: 42px;
}

.hero__textcol a{
    text-decoration: none;
}

.hero__textcol a:hover, .hero__brandlogo:hover{
    opacity: 0.9;
}

.button{
    width: 150px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(52, 84, 119);
    text-transform: uppercase;
    line-height: 1.464;
    padding: 10px;
    background-color: #9addfc;
    border-radius: 3px;
}


.hero__watch{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(149, 201, 251);
    text-decoration: underline;
    padding: 10px 0 0px 13px;
    line-height: 1.778;
}


.hero__watch img{
    width: 6px;
    border: 1px solid rgb(149, 201, 251);
    border-radius: 50%;
    padding: 1px 2px 2px 2px;
}


.hero__imgcol{
    /*width: 50%;*/
}

.hero__imgcol img{
    width: 100%;
}

.hero__brands{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(163, 208, 252);
    text-align: center;
}

.hero__brandlogo{
    width: 64px;
    margin-left: 20px;
}



@media (min-width: 48em){
    .hero__cols {
        flex-direction: row;
    }

    .hero__imgcol {
        margin-top: -60px;
    }       
}