h1{
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: normal;
    width: 70%;
    line-height: 1.191;
    letter-spacing: -0.7px;
}

h2{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 84, 121);
    text-align: center;
    width: 52%;
    margin-left: 26%;
    margin-top: 54px;
    letter-spacing: -1.27px;
}

h3{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 84, 121);
    font-weight: bold;
    letter-spacing: -0.6px;
    margin: 53px 0 0 24px;
}

h4{ 
    font-size: 12.5px;
    font-family: 'Open Sans', sans-serif;  
    color: rgb(57, 116, 202);
    font-weight: bold;
    text-transform: uppercase;
}

h5{
    font-size: 21px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 84, 121);
    line-height: 1.333;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.hero p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(163, 208, 252);
    width: 85%;
    padding: 6px 0 13px 0px;
    line-height: 1.659;
    letter-spacing: -0.3px;
}

.hero{
    background-color: #0e88f3;
    padding-top: 91px;
}

.hero__cols {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__textcol {
    padding-left: 50px;
}

.hero__textcol a{
    text-decoration: none;
}

.hero__textcol a:hover, .hero__brandlogo:hover, .CTA a:hover, .footer__social a:hover{
    opacity: 0.8;
}

.button{
    width: 150px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(52, 84, 119);
    text-transform: uppercase;
    line-height: 1.464;
    padding: 18px 40px 18px 41px;
    background-color: #9addfc;
    border-radius: 4px;
}

.hero__watch{
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(149, 201, 251);
    text-decoration: underline;
    padding: 11px 0 0 45px;
    line-height: 1.778;
}

.hero__watch img{
    width: 6px;
}

.watch-arrow{
    border: 1px solid rgb(149, 201, 251);
    border-radius: 50%;
    padding: 0px 4px 0px 5px;
    font-size: 11px;
    margin-left: 2px;
}

.hero__imgcol{
    margin-top: -79px;
    margin-left: 30px;
}

.hero__imgcol img{
    width: 90%;
}

.hero__brands{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(163, 208, 252);
/*    text-align: center;
*/  padding-bottom: 68px;
    padding-top: 35px;
    padding-left: 14%;
    letter-spacing: -0.3px;
}

.hero__brandlogo{
    width: 64px;
    margin-left: 20px;
    margin-top: 10px;
}

.hero__brandlist{
    display: inline-block;
}

.hero__brandlist a{
    margin-left: 10px;
}  

.hero__brandlogofoodfirst{
    width: 105px;
}

.hero__brandlogomaxbodyfood{
    width: 122px;
}

.shakers{
    display: flex;
}

.shakers__carousel{
    width: 90%;
}

.shakers__arrowprew, .shakers__arrownext{
    width: 5%;
    cursor: pointer;
    padding-top: 138px;
}

.shakers__arrowprew img, .shakers__arrownext img{
    margin-right: 5px;
    margin-left: 5px;
}

.shakers__item{
    border-left: 1px solid #1e91f7;
    border-bottom: 1px solid #1e91f7;
    height: 273px;
    padding-top: 24px;
}

.shakers__item img{
    margin-left: 10%;
}

.shakers__arrowprew{
    border-bottom: 1px solid #1e91f7;
    margin: 0px 0px 0px 0px;
}

.shakers__arrownext{
    border-left: 1px solid #1e91f7;
    border-bottom: 1px solid #1e91f7;
    margin: -4px -15px 0 0;
}

.shakers__carousel a{
    text-decoration: none;
}


.features{
    margin-left: 6%;
    margin-right: 6%;
}

.features__first, .features__second{
    display: flex;
}

.features__first{
    flex-direction: column-reverse;
}

.features__second{
    flex-direction: column;
}

.features__img img{
    width: 100%;
    margin-top: 28px;
    margin-left: 14px;
}

.features p {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 84, 121);
    text-align: left;
    letter-spacing: -1.65px;
    margin: 33px 0 0 24px;
    width: 88%;
}

.features__textsecond h3{
    margin-top: 39px;
}

.features__second{
    margin-top: 21px;
}

.testimonials{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 95px;
    margin-top: 74px;
}
.testimonials__quotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 32px;
}

.testimonials__quote{
    margin-right: 60px;
}

.testimonials__quotetext{
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color: #158af4;
    border-radius: 4px;
    padding: 46px 44px 46px 61px;
}

.testimonials__authorname, .testimonials__authorcompany{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 84, 121);
}

.testimonials__authorcompany{
    color: #667382;  
}

.testimonials__quote::after{
    content: "";
    position: absolute;
    background-color: #158af4;
    width: 30px;
    height: 30px;
    margin-top: -82px;
    margin-left: 17px;
    transform: rotate(150deg);
}

.testimonials__quote::before{
    content: url("img/quote.png");
    position: relative;
    top: 63px;
    left: 19px;
}

.testimonials__author{
    margin-top: 17px; 
}

.CTA{
    background-color: #0f89f4;
    padding: 1px 58px 82px 0;
}

.CTA h2{
    color: #fff;
    width: 60%;
    margin-bottom: 0;
}

.CTA p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(210, 231, 251);
    text-align: center;
    margin-left: 25%;
}

.CTA .button{
    width: 206px;
    margin-left: calc(50% - 91px);
    padding-right: 0;
    margin-top: 38px;
}

.CTA a{
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    margin: 54px 5% 20px 100px;
    padding-bottom: 20px;
}


footer p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(50, 50, 50);
}

footer a{
    text-decoration: none;
    color: rgb(57, 116, 202);
}   
.footer__social a{
    margin-right: 10px;    
}

footer div{
    margin-right: 10%;
}

.footer__social{
    width: 60%;
}


@media (min-width: 800px){
    .hero__cols {
        flex-direction: row;
    }
    .hero__imgcol {
        margin-top: -60px;
    }
    .hero__brandlist{
        display: inline-block;
    } 
   .features__first, .features__second{
        flex-direction: row;
    }
    .features__text{
        width: 50%
    }
    .features__img{
        width: 54%;
    } 
    .features__second .features__text{
        margin-left: 10%;
    }

    .shakers__item img{
        margin-left: 30%;
    }
    .shakers__arrowprew{
        border-bottom: 1px solid #1e91f7;
        margin: 0px 0px 0px 19px;
    }

    .testimonials__quotes{
        flex-direction: row;
    }
    .testimonials__quote{
        width: 30%;
    }
    .CTA .button{
        width: 206px;
        margin-left: calc(50% - 65px);
        padding-right: 0;
        margin-top: 38px;
    }

    footer{
        flex-direction: row;
    }
    
    .footer__contact{
        margin-left: -103px;
    }
}
